@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-primary-brand: #4a90e2; /* Example custom blue */
  --color-secondary-accent: #f5a623; /* Example custom orange */
  --color-dark-text: #2d3748; /* Example custom dark gray */
  --color-creamy-beige: #f2e9e4; /*creamy beige*/
  --font-display: "Roboto", "sans-serif";
  --font-sec: "Montserrat", "sans-serif";
}
